@charset "utf-8";
/* CSS Document */

/* Color Theme Used: https://coolors.co/30d19b-0c0f0a-ffffff-333333-dad6d6 */

/* Default Styles */
	* {
		margin: 0;
		padding: 0;
		user-select: none;  
	}
	body { 
		font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
		background-image: url("images/Background-Image.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		
	}
/* Header Styles */
	.header {
		width: 98%;
		background-color: #30d19b;
		padding: 1%;
		position: relative;
		display: table;
		box-shadow: 0px 1px 20px -2px #000000;
	}
	.header p.title {
		float: left;
		font-size: 40px;
		margin: 0 0 0 15px;
		font-weight: bold;
		color: white;
	}
	.header .header-right {
		position: absolute;
  		top: 50%;
		right: 20px;
  		transform: translate(0%,-50%);
		float: right;
	}
	.header .header-right a {
		position: relative;
		text-decoration: none;
  		font-size: 18px;
		margin: 0 15px 0 0;
		color: #ffffff;
		transition: .4s;
	}
	.header .header-right a:hover {
		transition: .4s;
		color: #000000;
	}
	.header .header-right a.active {
		color: #000000;
	}
/* Main Content Styles */
	.middle_spacing {
		height: 600px;
	}
/* About Styles */
	.about {
		width: 70%;
		margin: 4% 13%;
		padding: 2%;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 #000000;
	}
	.about img.pfp {
		float: left;
		height: 95px;
		width: 100px;
        margin: 12px 15px 10px 0px;
	}
	.about p {
		line-height: 2.5;
		text-align: justify;
	}
	#webWorkOnNote {
		margin: 3% 0 0 0;
	}
/* Portfolio Styles */
	.portfolio {
		width: 88%;
		margin: 4%;
		padding: 2%;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 #000000;
	}
	.portfolio .port_button {
		width: 40%;
		text-align: center;
		background-color: #333333;
		color: white;
		padding: 3% 0 3% 0;
		border-radius: 30px;
		display: inline-block;
		margin: 5% 4.8% 5% 4.8%;
	}
	.portfolio .port_button:hover {
		cursor: pointer;
		background-color: #30d19b;
	}
	.portfolio .portfolio_item {
		width: 60%;
		margin: 50px auto 90px auto;
		transition: .7s;
	}
	.portfolio .port_title {
		text-align: center;
		font-size: 30px;
		margin: 0 0 15px 0;
	}
	.portfolio .port_img {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	.portfolio .port_desc {
		width: 95%;
		text-align: justify;
		margin: 20px auto 0 auto;
	}
	.portfolio #nsButton {
		border-radius: 0px;
	}
	.portfolio #nsContent {
		display: block;
	}
	.portfolio #csContent {
		display: none;
	}
/* H@xc0rd Styles */
	.haxcord {
		width: 70%;
		margin: 4% 13%;
		padding: 2%;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 #000000;
	}
	.haxcord .hax_title {
		text-align: center;
		font-weight: bold;
		font-size: 70px;
	}
	.haxcord .hax_subtitle {
		text-align: center;
		font-size: 25px;
		margin: 0 0 1% 0;
	}
	.haxcord .hax_logo {
		display: block;
		margin: 0 auto 1% auto;
		width: 200px;
	}
	.haxcord .hax_desc {
		text-align: justify;
	}
	.hax_download {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
	}
	.hax_download a {
		text-decoration: none;
		color: black;
	}
	.hax_download .tooltiptext {
		visibility: hidden;
		width: 190px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		top: -5px;
		left: 120%;
	}  
	.hax_download .tooltiptext::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 100%;
		margin-top: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent black transparent transparent;
	}
	.hax_download:hover .tooltiptext {
		visibility: visible;
	}
	.hax_download:hover {
		cursor: pointer;
	}
/* Contact Styles */
	.contact {
		width: 40%;
		margin: 4% 28%;
		padding: 2%;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 #000000;
		transition: .7s;
	}
	.contact .title {
		color: #000000;
		font-size: 40px;
		margin: 15px 0 50px 0;
		text-align: center;
	}
	.contact input {
		margin: 0 0 2% 0;
	}
	.contact .input_text {
		margin: 0 0 5px 0;
	}
	.contact textarea {
		resize: none;
		width: 200px;
		padding: 5px;
	}
	.contact button {
		display: block;
		margin: 30px 0 0 0;
	}
	#form_submit_true {
		transition: 2s;
		margin: 20px 0 0 0;
		color: green;
		display: none;
	}
/* Footer Styles */
	.footer {
		width: 100%;
		background-color: #333333;
		clear: both;
	}
	.footer .section1 {
		position: relative;
		width: 100%;
		padding: 60px 0;
		text-align: center;
	}
	.footer .section1 .up-arrow-bg {
		position: absolute;
		width: 50px;
		height: 50px;
		right: 40px;
		bottom: 40px;
	}
	.footer .section1 .up-arrow {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 45px;
		bottom: 45px;
		cursor: pointer;
	}
	.footer .section1 .up-arrow:active {
		transition: .5s;
		transform: rotateZ(180deg);
	}
	.footer .section1 .up-arrow:hover {
		animation: bounce .7s infinite;
	}
	@keyframes bounce {
		50% {transform: translateY(-7px); }
		100% {transform: translateY(3px); }
	}
	.footer .logos {
		margin: 0 0 15px 0;
	}
	.footer .links {
		width: 60%;
		margin: 0 20%;
		text-align: center;
	}
	.footer .links a {
		color: white;
		font-size: 20px;
		text-decoration: none;
		padding: 12px;
		white-space: nowrap;
	}
	.footer .links a:hover {
		text-decoration: underline;
	}
	.logo {
		width: 50px;
		height: 50px;
		padding: 0 7px;
		transition: .5s;
	}
	.logo:hover {
		transition: .5s;
		transform: scale(1.3);
	}
	.footer .section2 {
		background-color: #30d19b;
		width: 94%;
		padding: 3%;
		box-shadow: 0px -1px 20px -2px #000000;
	}
	.footer .section2 .website-slogan {
		width: 100%;
		color: white;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}
	.footer .section2 .copyright-info {
		width: 100%;
		color: white;
		font-size: 15px;
		margin: 15px 0 0 0;
		text-align: center;
		text-transform: uppercase;
	}
/* Scrollbar Styles */
	::-webkit-scrollbar-button {
		display: none;
		height: 13px;
		border-radius: 0px;
		background-color: #AAA;
	}
	::-webkit-scrollbar-thumb {
		background-color: #BFBFBF;
		box-shadow: 0 0 10px 1px #000000;
	}
	::-webkit-scrollbar-track {
		background-color: #efefef;
	}
	::-webkit-scrollbar{
		width: 13px;
	}
/* Mobile Styles */
	@media only screen and (max-width: 900px) {
		.header .header-right {
			position: relative;
			float: none;
			clear: both;
			text-align: center;
			top: 0%;
			right: 0px;
  			transform: translate(0%,0%);
			margin: 10px 0;
		}
		.header p.title {
			font-size: 50px;
			float: none;
			clear: both;
			text-align: center;
			margin: 0 0 0 0;
		}
		.header .header-right a {
			transition: none;
  			font-size: 16px;
			margin: 0 15px 0 0;
		}
		.footer .section1 .up-arrow {
			display: none;
		}
		.footer .section1 .up-arrow-bg {
			display: none;
		}
		.portfolio .port_button {
			width: 60%;
			display: block;
			margin: 5% 20% 5% 20%;
		}
	}
	@media only screen and (max-width: 750px) {
		.contact {
			width: 80%;
			margin: 4% 8%;
		}
		.portfolio .portfolio_item {
			width: 90%;
		}
		.portfolio .port_button {
			width: 70%;
			margin: 5% 15% 5% 15%;
			padding: 3% 0 3% 0;
		}
	}
	@media only screen and (max-width: 550px) {
		.haxcord .hax_title {
			font-size: 40px;
		}
		.haxcord .hax_subtitle {
			text-align: center;
			font-size: 20px;
			margin: 0 0 1% 0;
		}
		.haxcord .hax_logo {
			display: block;
			margin: 0 auto 1% auto;
			width: 100px;
		}
		.about p {
			text-align: left;
		}
	}